#header {
  height: 100vh;
  background-image: url("./Images/countryside-workers-together-field.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  position: relative;
}

#header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  z-index: 1000;
}
/* ====Header section styling ====*/
.header-section {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  color: white;
  text-align: center;
}
.header-section h1 {
  font-size: 4em;
}
.header-section a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
/* Button styling */
#header-button {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border-style: none;
  background-color: #1c6758;
  color: white;
  font-size: 1.2em;
}
/* paragraph styling */
.header-section > p {
  margin-bottom: 20px;
}
