/* ====Header styling ====*/
#header {
  height: 100vh;
  background-image: url("./Images/countryside-workers-together-field.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  position: relative;
}

/* ====Header section styling ====*/
.header-section {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  color: white;
  text-align: center;
}

/* ====Header section styling h1 ====*/
.header-section h1 {
  font-size: 4em;
}

/* ====Header section styling a element ====*/
.header-section a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  pointer-events: auto;
}

/* ====Header section styling button styling ====*/
#header-button {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border-style: none;
  background-color: #1c6758;
  color: white;
  font-size: 1.2em;
}

/* ====Header section styling p element styling ====*/
.header-section > p {
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  #header {
    background-image: url("./Images/woman-hat-holding-funnel-works-garden.jpg");
  }
  .header-section {
    left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  #header {
    background-image: url("./Images/woman-hat-holding-funnel-works-garden.jpg");
  }
  .header-section {
    left: 20%;
  }
}
