.main {
  position: relative;
  background-color: #1c6758;
  height: 100vh;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

/* ===styles for the nav bar=== */
#nav-bar {
  width: 20%;
  background-color: #eef2e6;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

#nav-bar h2 {
  color: #1c6758;
}

#nav-bar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 80%;
}
#nav-bar li {
  text-decoration: none;
  list-style: none;
  padding: 5px;
  display: block;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
}
/* ===end of styles for the nav bar=== */

/* ===start of styles for the posts section=== */
.posts {
  width: 80%;
  background-color: #1c6758;
  display: block;
  position: absolute;
  right: 0;
  height: 100vh;
  scroll-behavior: smooth;
}

.post {
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  background-color: #eef2e6;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  position: relative;
}

.post > img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  height: auto;
}
/* ===end of styles for the posts section=== */

/* Style of action buttons */

.action-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Style of post-form */
#post-form {
  border: 1px solid #eef2e6;
  width: 60%;
  margin: 0 auto;
  background-color: #3d8361;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 400px;
}

#post-form > label {
  color: white;
}

/* style of textarea */
textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

#post-btn {
  padding: 10px 10px 10px 10px;
  width: 185px;
  height: 40px;
  border-radius: 8px;
  border-style: none;
  background-color: #eef2e6;
  font-size: 20px;
  color: #1c6758;
  margin: 0 auto;
  display: block;
  text-align: center;
}

/* styles of comment form */
#comment-form {
  border: 1px solid #eef2e6;
  width: 90%;
  position: absolute;
  right: 0;
  bottom: 20px;
  margin-top: 20px;
}
#comment-form > #comment-btn {
  color: #eef2e6;
  border-radius: 10px;
  border-style: none;
  background-color: #3d8361;
  position: absolute;
  right: 15%;
  top: 48%;
  cursor: pointer;
}

/* Styles of the comment section */
.comments {
  margin-top: 20px;
  border: 1px solid #ccc;
  height: min-content;
  overflow: scroll;
}
.comments > span {
  display: block;
}

/* Style of logout button */
.logout-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #1c6758;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 0;
}
