.main {
  position: relative;
  background-color: #1c6758;
  height: 100vh;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
#nav-bar {
  width: 20%;
  background-color:#eef2e6;
  overflow: hidden; 
  /* position: fixed;
  top: 0;
  left: 0; */
}

#nav-bar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 80%;

}
#nav-bar li {
  text-decoration: none;
  list-style: none;
  padding: 5px;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.posts {
  width: 80%;
  background-color: #1c6758;
}

.post {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: #eef2e6;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
}

.post > #img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

/* Style of action buttons */

.action-btn {
  display: flex;
  justify-content: space-between;
}

/* Style of post-form */
#post-form{
  border: 1px solid red;
  width: 50%;
  
}
