@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;700&display=swap");

* {
  font-family: "Outfit", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100vh;
  background-color: #1c6c5c;
}
p {
  font-size: 16px;
}
