/* ===Style the login div=== */
#login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px;
  height: 100vh;
}

/*=== Style the login form ===*/
.login {
  padding: 20px 25px 20px 25px;
  width: 50%;
  height: 60%;
  border-radius: 15px;
  background-color: #eef2e6;
  text-align: left;
}

/* ===Style of login-text=== */
.login-text {
  color: white;
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 50%;
  margin-right: 20px;
  border-radius: 20px;
}
/* ===Style of login-text h2=== */
.login-text > h2 {
  font-size: 2.5em;
}

/* ===Style of password login and email login=== */
#password-login,
#email-login {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ===Style of login button=== */
#login-button {
  border-style: none;
  background-color: #1c6758;
  border-radius: 10px;
  width: 185px;
  height: 40px;
  padding: 5px 25px 5px 25px;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 50px;
}
/* ===Add a hover effect=== */
#login-button:hover {
  border: 2px solid #1c6758;
  background-color: transparent;
  color: black;
}

/* ===Style of signup label=== */
#signup {
  margin: 0 auto;
  text-decoration: underline;
  display: block;
  text-align: center;
  margin-top: 60px;
}

@media only screen and (max-width: 850px) {
  #login {
    flex-direction: column;
    width: 100%;
  }

  .login {
    padding: 20px 25px 20px 25px;
    width: 80%;
    height: 60%;
    border-radius: 15px;
    background-color: #eef2e6;
    text-align: left;
  }
}
